/* Общие стили для страницы */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 40px;
    height: 40px;
}

.logo h1 {
    font-size: 24px;
    margin: 0 10px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

/* Стили для страницы с подарочными наборами */
#content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
}

.product {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    max-width: 300px;
}

.product img.product-image {
    width: 100%; /* Фиксированная ширина изображения */
    height: auto; /* Автоматическое масштабирование высоты для сохранения пропорций */
}

.product h3 {
    font-size: 18px;
    margin: 10px 0;
}

.product p {
    font-size: 14px;
    margin: 10px 0;
}

.price {
    font-size: 16px;
    font-weight: bold;
}

.add-to-cart {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    border-radius: 5px;
}

.add-to-cart:hover {
    background-color: #555;
}

/* Стили для корзины */
#cart {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px 0;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    margin: 0 auto;
}

.cart-item {
    font-size: 16px;
    margin: 10px 0;
}

.total {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}

.checkout {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

.checkout:hover {
    background-color: #555;
}
