/* Стили для фона страницы */
body {
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}

/* Стили для полоски сверху */
.top-bar {
    background-color: #ff66a1; /* Розовая полоска */
    height: 5px;
}

/* Стили для заголовков */
h1, h2, h3 {
    font-family: 'Amazon Ember', Arial, sans-serif;
    font-weight: bold;
    color: #ff66a1; /* Розовый цвет для заголовков */
    text-transform: uppercase;
    margin: 0;
}

h1 {
    font-size: 36px;
    margin-top: 20px;
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 10px;
}

h3 {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Стили для текста */
p {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    margin: 15px 0;
}

/* Стили для ссылок */
a {
    color: #ff66a1; /* Розовый цвет для ссылок */
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: #ff0080; /* Более яркий розовый при наведении */
}

/* Стили для кнопок */
.button {
    background-color: #ff66a1; /* Розовый цвет для кнопок */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

.button:hover {
    background-color: #ff0080; /* Более яркий розовый при наведении */
}

/* Стили для контейнеров */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Стили для разделов страницы */
.section {
    padding: 40px 0;
}

/* Стили для блоков с тенью */
.shadow-box {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
}

/* Дополнительные стили для таблиц */
table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: center;
}

/* Стили для футера */
footer {
    background-color: #ff66a1; /* Розовый фон для футера */
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

/* Стили для товаров и фотографий */
.product {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    width: 250px;
}

.product img {
    max-width: 100%;
    height: auto;
}

.product h3 {
    font-size: 18px;
    margin: 10px 0;
}

.product p {
    font-size: 16px;
    margin: 10px 0;
}

.price {
    font-size: 18px;
    font-weight: bold;
}

.add-to-cart {
    background-color: #ff9900;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
}

.add-to-cart:hover {
    background-color: #ff6600;
}
